PORT=
MONGO_URI=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=
CLIENT_URL=
NODE_ENV=
BCRYPT_ROUNDS=

# Seed credentials (dev only — never use in production)
SEED_SUPER_ADMIN_USERNAME=
SEED_SUPER_ADMIN_EMAIL=
SEED_SUPER_ADMIN_PASSWORD=
SEED_ADMIN_USERNAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_MASTER_USERNAME=
SEED_MASTER_EMAIL=
SEED_MASTER_PASSWORD=
SEED_AGENT_USERNAME=
SEED_AGENT_EMAIL=
SEED_AGENT_PASSWORD=
SEED_USER_USERNAME=
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
